<!DOCTYPE html>
<html>
<head>
<meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>
    <title>Covid Predictions </title>
    <h1 align=center><b><font color="blue">COVID PREDICTIONS</font></b></h1>
    <H3><a href="javascript:history.back()">HOME</a></H3>
    
</head>
<body>
    <H3><font color="maroon">PREDICTIONS FOR CONFIRMED CASES:</font></H3> 
    <img title="df_Confirmed" src="static/images/{{ user_image }}" alt="df_Confirmed"  width="800" height="400" />
    
    <H3><font color="maroon">PREDICTIONS FOR RECOVERY CASES:</font></H3>
    <img title="df_Recovered" src="static/images/{{ user_image2 }}" alt="df_Recovered"  width="800" height="400" />
    
    <H3><font color="maroon">PREDICTIONS FOR DEATH CASES:</font></H3>
    <img title="df_Deaths" src="static/images/{{ user_image3 }}" alt="df_Deaths"  width="800" height="400" />
</body>
</html>